extend base

block content
    p Hi #{firstName}
        p Please Follow the link provided to reset your password : #{url} .
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset Password
        p If you Don't forgot your Password Ignore the Email .
        p - @AStream26
